BOT_TOKEN=123abc
DEV_ENV=0
DB_URL=postgresql://postgres:password@db:5432/mydatabase
PG_USER=postgres
PG_PASSWORD=password
PG_DB=mydatabase
PG_HOST_PORT=5432
PG_CONTAINER_PORT=5432
PG_MIN_SIZE=10
PG_MAX_SIZE=19
PG_LIFETIME=300
PG_MAX_QUERIES=50000
PYTHONUNBUFFERED=1
REDIS_HOST_PORT=6379
REDIS_CONTAINER_PORT=6379
REDIS_PASSWORD=password
REDIS_SAVE_EVERY_X_SECONDS=60 
REDIS_SAVE_IF_ATLEAST_X_CHANGES_WERE_MADE=1