# this is an example file of what the .env file should look like
# - DISCORD RELATED -
BOT_TOKEN=123abc # the bearer authorization token of your discord bot (head to Discord Developer Portal -> Applications -> Your Bot -> Overview -> Bot -> Token -> Reset Token to obtain it)
# - DEV RELATED -
DEV_ENV=0 # 0 = false, 1 = true
# - DATABASE RELATED -
DB_URL=postgresql://user:password@db:5432/mydatabase
PG_USER=user
PG_PASSWORD=password
PG_DB=mydatabase
PG_HOST_PORT=5432
PG_CONTAINER_PORT=5432 # when a request is send to the host's (your computer for example) postgres server port, it will forward to the postgres server port on the container
PG_MIN_SIZE=10 # minimum amount of connections inside the postgres connection pool 
PG_MAX_SIZE=19 # maximum   "    "      "         "     "     "         "        " (default is 20)
PG_LIFETIME=300 # lifetime of a connection inside the postgres connection pool (in seconds)
PG_MAX_QUERIES=50000 # connection recycling count
# - DOCKER RELATED - 
PYTHONUNBUFFERED=0 # incase docker doesn't log print statements