BOT_TOKEN=123abc
DEV_ENV=0
DB_URL=postgresql://user:password@db:5432/mydatabase
PG_USER=user
PG_PASSWORD=password
PG_DB=mydatabase
PG_HOST_PORT=5432
PG_CONTAINER_PORT=5432
PG_MIN_SIZE=10
PG_MAX_SIZE=19
PG_LIFETIME=300
PG_MAX_QUERIES=50000
PYTHONUNBUFFERED=1