# this is an example file of what the .env file should look like
BOT_TOKEN="123abc" # the bearer authorization token of your discord bot (head to Discord Developer Portal -> Applications -> Your Bot -> Overview -> Bot -> Token -> Reset Token to obtain it)
