# this is an example file of what the .env file should look like
# - DISCORD RELATED -
BOT_TOKEN=123abc # the bearer authorization token of your discord bot (head to Discord Developer Portal -> Applications -> Your Bot -> Overview -> Bot -> Token -> Reset Token to obtain it)
# - DEV RELATED -
DEV_ENV=0 # 0 = false, 1 = true
# - DATABASE RELATED -
DB_URL=postgresql://postgres:password@db:5432/mydatabase # format: postgresql://user:password@host:port/database
PG_USER=postgres
PG_PASSWORD=password
PG_DB=mydatabase
PG_HOST_PORT=5432
PG_CONTAINER_PORT=5432 # when a request is send to the host's (your computer for example) postgres server port, it will forward to the postgres server port on the container
PG_MIN_SIZE=10 # minimum amount of connections inside the postgres connection pool 
PG_MAX_SIZE=19 # maximum   "    "      "         "     "     "         "        " (default is 20)
PG_LIFETIME=300 # lifetime of a connection inside the postgres connection pool (in seconds)
PG_MAX_QUERIES=50000 # connection recycling count
# - PYTHON & DOCKER RELATED - 
PYTHONUNBUFFERED=1 # Incase Docker doesn't log Python print statements, assert statements, etc
# - REDIS RELATED -
REDIS_HOST_PORT=6379
REDIS_CONTAINER_PORT=6379
REDIS_PASSWORD=password
REDIS_SAVE_EVERY_X_SECONDS=60 
REDIS_SAVE_IF_ATLEAST_X_CHANGES_WERE_MADE=1